<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotify Taste</title>
</head>
<body>
    <div>

        <div>
            <p>First, we will need to sign in from Spotify</p>
            <button id="signInButton">Sign in</button>
            <button id="getProfileButton">Get profile</button>
            <button id="getTracks">Get tracks</button>
        </div>

    </div>

    <script src="{{url_for('static', filename='index.js')}}"></script>
    <script src="{{url_for('static', filename='tracks.js')}}"></script>
</body>
</html>